.footer-wrapper {
  position: relative;
  bottom: -60px;
  width: 100%;
  background-color: #282828;
}
.footer-wrapper > div {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: whitesmoke;
}