#sidebar-wrapper {
  position: fixed;
  display: flex;
  top: 60px;
  left: -100%;
  transition: 0.33s;
}
#sidebar-wrapper.show-sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 999;
}
/* #sb-filler {
  background-color: transparent;
  flex-grow: 1;
} */
.sidebar {
  height: 90vh;
  width: 285px;
  background-color: whitesmoke;
  box-shadow: 5px 0 20px rgba(0,0,0,0.1);
  overflow: scroll;
}

.main-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-menu-list > li {
  margin: 10px 30px;
}
.sub-menu-list {
  list-style: none;
  padding: 0;
}
.sub-menu-list > li {
  margin: 10px 30px;
}
.item-title {
  background-color: slateblue;
  padding: 10px;
}
.item-title > a {
  text-decoration: none;
  color: black;
}
.user-menu {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  border: none;
  background-color: slateblue;
  border-radius: 20px;
  text-decoration: none;
  color: black;
}
.btn > p {
  margin: 0;
}
.sb-userLogged-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sb-userLogged-menu div {
  margin: 0 0 15px 0
}